.password-manager-bg-container {
  background-image: linear-gradient(#9ba9eb, #c3caea);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.password-manager {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  align-self: flex-start;
  width: 180px;
}

@media screen and (min-width: 768px) {
  .password-manager {
    width: 80%;
  }
  .app-logo {
    width: 200px;
  }
}

.input-container {
  background-color: #5763a5;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.head-image {
  width: 90%;
}

@media screen and (min-width: 576px) {
  .head-image {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .input-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 30px 50px 30px;
  }

  .head-image {
    order: 1;
    width: 300px;
  }
}

.input-element-container {
  background-color: #454f84;
  width: 100%;
  padding: 20px 10px 20px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .input-element-container {
    min-width: 220px !important;
    max-width: 350px;
    margin-top: 0px;
    margin-right: 20px;
  }
}

.add-new {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 400;
  width: 90%;
}

.input-website-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
}

.logo {
  width: 30px;
  margin: 0px;
}

.input-logo {
  background-color: #f8fafc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid #94a3b8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-element {
  background-color: #f8fafc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #94a3b8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input {
  border: none;
  outline: none;
  width: 90%;
}

.button-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.add-button {
  background-color: #0b69ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  width: 80px;
  font-family: 'Roboto';
  border-radius: 5px;
}

.output-container {
  background-color: #5763a5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
  margin-bottom: 50px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.counter-section {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-element {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .output-container {
    padding: 30px 30px 50px 30px;
  }

  .counter-section {
    width: 300px;
  }

  .search-element {
    width: 30%;
  }
}

.your-password {
  margin-right: 5px;
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 14px;
  font-weight: 500;
}

.counter {
  border: 1px solid #f8fafc;
  background-color: transparent;
  width: 40px;
  height: 20px;
  color: #f8fafc;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .your-password {
    font-size: 20px;
  }
}

.count {
  margin: 0px;
}

.h-line {
  border: 1px solid #f8fafc;
  width: 100%;
}

.outputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .outputs {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.toggle-view {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.show-password {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 500;
}

.no-passwords-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-passwords-image {
  width: 300px;
}

.no-passwords {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
